<section class="pager-section text-center">
    <div class="fixed-bg bg4"></div>
    <div class="container">
        <div class="pager-head">
            <h2>Checkout</h2>
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index" title="">Home</a></li>
                <li><a asp-area="" asp-controller="Orders" asp-action="Checkout1" title="">Home</a></li>
                <li><span>Checkout</span></li>
            </ul>
        </div><!--pager-head end-->
    </div>
</section><!--pager-section end-->

<section class="sec-block">
    <div class="container">
        <div class="checkout-head">
            <ul>
                <li>
                    <h2 class="active"><span>01.</span> Order details</h2>
                </li>
                <li>
                    <h2 class="active"><span>02.</span> Confirm Order</h2>
                </li>
            </ul>
        </div><!--checkout-head end-->
        <div class="success-para text-center">
            <img src="~/assets/images/check-circle.png" alt="">
            <h2>Thank you!</h2>
            <p>We have accepted your order and have already begun to cook.  Your favorite food will be on your table soon.</p>
        </div><!--success-para end-->
        <div class="order-infoo">
            <div class="order-details">
                <h3>your order</h3>
                <ul class="vl-ord">
                    @foreach (Item item in ViewBag.cart)
                    {
                        <li>
                            <div class="ppc">
                                <span>@item.item.Name</span>
                                <b>@(item.Quantity)x</b>
                            </div>
                            <span>@(item.item.Price * item.Quantity) ETB</span>
                        </li>
                    }

                </ul>
            </div><!--order-details end-->
            <div class="order-details">
                <h3>your order</h3>
                @if (@ViewBag.cart == null)
                {
                    <div>
                        <text>Your Cart is empty.</text>
                    </div>
                }
                else if (@ViewBag.cart.Count == 0)
                {
                    <div>
                        <text>Your Cart is empty.</text>
                    </div>
                }
                else
                {

                    <ul class="vl-ord">
                        @foreach (Item item in ViewBag.cart)
                        {
                            <li>
                                <div class="ppc">
                                    <span>@item.item.Name</span>
                                    <b><Text>@item.Quantity</Text>x</b>
                                </div>
                                <span>@(item.item.Price * item.Quantity) ETB</span>
                            </li>
                        }
                    </ul>
                    <ul class="price-tablee">
                        <li>
                            <h4>Subtotal</h4>
                            <span>@ViewBag.total</span>
                        </li>
                        <li>
                            <h4 class="delivery">Delivery</h4>
                            <span>10 ETB</span>
                        </li>
                        <li>
                            <h4 class="total-price">Total</h4>
                            <span class="total-price">@(ViewBag.total + 10) ETB</span>
                        </li>
                    </ul>
                }
            </div><!--order-details end-->
        </div><!--order-infoo end-->

    </div>
</section>
