@model ICollection<Restaurant>
<section class="pager-section text-center">
    <div class="fixed-bg bg4"></div>
    <div class="container">
        <div class="pager-head">
            <h2>Restaurants and cafes</h2>
            <ul>
                <li><a href="#" title="">Home</a></li>
                <li><span>Restaurants and cafes</span></li>
            </ul>
        </div>
        <!--pager-head end-->
    </div>
</section>
<!--pager-section end-->

<section class="sec-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="search-prod">
                    <form>
                        <div class="form-group">
                            <input type="text" name="query" placeholder="Search"
                                   class="form-control half-radius" value="@ViewBag.query">
                            <button type="submit" class="btn-default half-radius">Search Restaurant</button>
                        </div>
                    </form>
                </div>
                <!--search-prod end-->
                <div class="listing-products">
                    @if (Model.Count == 0)
                    {
                        <p class="h2 text-center">No results found.</p>
                    }
                    else
                    {
                        @foreach (Restaurant restaurant in Model)
                        {
                            <div class="listing-product">
                                <div class="product-thumb">
                                    <img src="~/Images/Restaurants/@restaurant.ImagePath" alt="" class="w-100">
                                    @*<div class="cl-logo">
                            <img src="https://via.placeholder.com/150x150" alt="">
                        </div>*@
                                </div>
                                <div class="product-info">
                                    <h3><a asp-controller="Restaurants" asp-action="Details" asp-route-id="@restaurant.Id" title="">@restaurant.Name</a></h3>
                                    <ul class="rating">
                                        @*TODO*@
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <p>
                                        @restaurant.Description
                                    </p>
                                    <ul class="btm">
                                        <li><a href="#" title="">Restaurant</a></li>
                                        <li><span><b class="statuss"></b>Open now</span></li>
                                    </ul>
                                    <a asp-controller="Restaurants" asp-action="Details" asp-route-id="@restaurant.Id" title="" class="view-menu">
                                        View Menu <i class="fa fa-long-arrow-alt-right"></i>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!--listing-product end-->
                <!--<div class="listing-product">
                                        <div class="product-thumb">
                                            <img src="https://via.placeholder.com/262x240
                " alt="" class="w-100">
                                            <div class="cl-logo">
                                                <img src="https://via.placeholder.com/150x150
                " alt="">
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="restaurant-details.html" title="">bulgarian restaurant</a></h3>
                                            <ul class="rating">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                            <p>
                                                Salads, soups, sneaks, burgers, drinks, seafood, grill, fish, vegetarian menu,
                                                wine, hot meals, steaks...
                                            </p>
                                            <ul class="btm">
                                                <li><a href="#" title="">Restaurant</a></li>
                                                <li><span><b class="statuss closed"></b>Closed</span></li>
                                            </ul>
                                            <a href="restaurant-details.html" title="" class="view-menu">
                                                View Menu <i class="fa fa-long-arrow-alt-right"></i>
                                            </a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>-->
                <!--listing-product end-->
                <!--listing-products end-->
                @*<div class="load-more mt-40 text-center">
                        <a href="#" title="" class="btn-default">Load More <span></span></a>
                    </div>*@
            </div>
        </div>
    </div>
</section>
@section PageCss{

    <link rel="stylesheet" type="text/css" href="~/assets/css/jquery-ui.css">
}
@section Scripts{

    <script src="~/assets/js/jquery-ui.js"></script>
}