@model Food_Delivery.Models.OrderBatch

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-info">Order Details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Orders">Orders</a></li>
                    <li class="breadcrumb-item active">Order Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container">
        <section class="border p-4 text-center mb-4">
            <div class="w-100 align-content-end justify-content-end my-3 "><a asp-action="ConfirmDelivery" asp-route-id="@Model.Id" class="btn btn-success float-right my-2">Confirm Delivery</a></div>
            <table class="table" style="border-radius:20px;">
                <thead class="table-info shadow">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Delivery Adress</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.DatePlaced</td>
                        <td>@Model.City, @Model.Adress</td>
                        <td>@ViewBag.total ETB</td>
                        <td>
                            @if (Model.Delivered)
                            {
                                <span class="text-success"><span class="fa fa-dot-circle"></span> Delivered</span>
                            }
                            else
                            {
                                <span class="text-warning"><span class="fa fa-dot-circle"></span> Pending</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <ul class="list-group bg-transparent border-primary">
                                @foreach (var item in Model.OrdersList)
                                {
                                    <li class="list-group border-bottom py-3">
                                        <div class="row">
                                            <div class="col text-left ml-5 pl-5">@item.Food.Name <span class="text-bold">x<Text>@item.Quantity</Text></span></div>
                                            <div class="col text-right mr-5 pr-4 text-bold">@(item.Food.Price * item.Quantity) ETB</div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="list-group">
                <div class="h4 text-info">
                    Delivery Location
                </div>
                <div id="map"></div>
            </div>
        </section>
    </div>
</section>

@*<div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
@section PageCss{
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">

    <style>
        #coord {
            display: none;
        }

        .coordinates {
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            position: absolute;
            bottom: 20px;
            left: 10px;
            padding: 5px 0px;
            margin: 0;
            font-size: 11px;
            line-height: 18px;
            border-radius: 3px;
            display: none;
        }

        #map {
            width: 100%;
            height: 400px;
        }
    </style>
}
@section Scripts{
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
    <script>

        mapboxgl.accessToken = 'pk.eyJ1IjoieW9uaW1lcmtlYnUiLCJhIjoiY2tsM2dsYmsxMW1lNTJzcW8ybDM0eGtnbCJ9._Gb2Fd84O3SO2-LgHIICpw';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [38.7679, 8.99],
            zoom: 15
        });
        var popup = new mapboxgl.Popup()
            .setText('Delivery Location')
            .addTo(map);

        var marker = new mapboxgl.Marker({
            draggable: false
        })
            .setLngLat([38.7679, 8.99])
            .addTo(map)
            .setPopup(popup);

        //function onDragEnd() {
        //    var lngLat = marker.getLngLat();

        //    coordinates.style.display = 'block';
        //    coordinates.innerHTML =
        //        lngLat.lng + ', ' + lngLat.lat;
        //    coordinate.value =
        //        lngLat.lng + ',' + lngLat.lat;
        //}

        //marker.on('dragend', onDragEnd);
    </script>

    }